<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>基本信息</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>姓名：</string>
			<key>Key</key>
			<string>name</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>密码：</string>
			<key>Key</key>
			<string>pwd</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>性别</string>
			<key>Key</key>
			<string>sex</string>
			<key>DefaultValue</key>
			<string>man</string>
			<key>Titles</key>
			<array>
				<string>男</string>
				<string>女</string>
			</array>
			<key>Values</key>
			<array>
				<string>man</string>
				<string>woman</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>是否开朗：</string>
			<key>Key</key>
			<string>key11</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>年龄信息</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>age</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MaximumValueImage</key>
			<string>rabbit</string>
			<key>MinimumValueImage</key>
			<string>turtle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>更多设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>更多</string>
			<key>File</key>
			<string>More</string>
		</dict>
	</array>
</dict>
</plist>
